.workprocess-space {
  margin-top: 80px;
}
.about-product-section {
  padding: 0px 0px 120px 0px;
}
.about-product-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  align-items: center;
}
@media (max-width: 767.78px) {
  .about-product-grid {
    grid-template-columns: 1fr;
  }

  .product-image {
    order: -1;
  }
}

/* testimonail */

.testimonial-section {
  padding: 80px 0;
  background: #f5f5f5;
}

.sub-title {
  color: #6bc048;
  font-weight: 600;
  letter-spacing: 1px;
}

.testimonial-card {
  background: #fff;
  padding: 40px 30px;
  border-radius: 20px;
  text-align: center;
  position: relative;
}

.client-img {
  width: 70px;
  height: 70px;
  margin: 0 auto 15px;
}

.client-img img {
  width: 100%;
  border-radius: 50%;
}

.testimonial-card h4 {
  margin-bottom: 5px !important;
  font-family: var(--default-font);
  font-weight: 500;
}

.testimonial-card span {
  font-size: 14px;
  color: #777;
}

.stars {
  color: #1b3d0b;
  margin: 10px 0;
}

.testimonial-card p {
  font-size: 14px;
  color: #666;
  line-height: 1.6;
}

.swiper-pagination-bullet-active {
  background: var(--primary-color) !important;
  font-size: 24px;
  width: 15px !important;
  height: 15px !important;
}
.swiper-pagination-bullet {
  width: 15px !important;
  height: 15px !important;
  /* margin-top: 20px !important; */
}

/* team */

.team-section {
  padding: 80px 0;
  /* background: #f8f8f8; */
  background: #ede9e9;
}
/* GRID */

.team-grid {
  /* margin-top: 50px; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.team-card {
  margin-top: 50px;
  /* display: flex; */
  align-items: center;
  gap: 40px;
  background: #fff;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.08);
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
}

.team-image img {
  width: 160px;
  height: 160px;
  object-fit: cover;
  border-radius: 15px;
  margin: auto;
  display: block;
  margin: auto;
}

.team-info h3 {
  font-size: 28px;
  margin-bottom: 10px !important;
  font-family: var(--default-font);
  font-weight: 500;
  text-align: center;
  margin-top: 25px;
}

.team-info h5 {
  color: var(--primary-color);
  margin-bottom: 15px;
  text-align: center;
  padding-bottom: 10px;
}

.team-info p {
  color: var(--primary-color1);
  line-height: 1.6;
  text-align: center;
  font-family: var(--default-font);
}

.team-social {
  margin-top: 15px;
  text-align: center;
}

.team-social a {
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: var(--primary-color);
  color: #fff;
  margin-right: 10px;
  border-radius: 8px;
  transition: 0.3s;
}

.team-social a:hover {
  background: var(--accent-color);
}
/* RESPONSIVE */

@media (max-width: 992px) {
  .team-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .team-grid {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 767.78px) {
  .testimonial-section {
    padding: 60px 0;
  }
  .team-section {
    padding: 60px 0px 60px 0px;
  }
  .team-card {
    display: block;
  }
  .team-image img {
    margin-bottom: 20px;
    width: auto;
  }
  .team-card {
    margin-top: 30px;
  }
  .team-card {
    padding: 30px 20px 30px 20px;
  }
  .workprocess-space {
    margin-top: 60px;
  }
  .about-product-section {
    padding: 0px 0px 60px 0px;
  }
  .whysolar-wrapper {
    padding: 60px 0 !important;
    margin-bottom: 60px !important;
  }
  .aboutfaq-wrapper {
    padding: 60px 0px !important;
  }
  .stat-item p {
    font-size: 16px;
  }
  .about-list {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .testimonial-section {
    padding: 60px 0;
  }
  .team-section {
    padding: 60px 0px 60px 0px;
  }
  .team-card {
    display: block;
  }
  .team-image img {
    margin-bottom: 20px;
    width: auto;
  }
  .team-card {
    margin-top: 30px;
  }
  .team-card {
    padding: 30px 20px 30px 20px;
  }
  .about-product-section {
    padding: 0px 0px 60px 0px;
  }
  .whysolar-wrapper {
    padding: 60px 0px !important;
  }
  .aboutfaq-wrapper {
    padding: 60px 0px !important;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
}

/* about faq */

.aboutfaq-wrapper {
  padding: 80px 0;
  background: #f9fbff;
}

.aboutfaq-header {
  margin-bottom: 40px;
}

/* FAQ BOX */
.aboutfaq-wrapper {
  padding: 80px 0;
  background: #f7f9fc;
}

.aboutfaq-header {
  margin-bottom: 40px;
}

.aboutfaq-subtitle {
  color: #2a6df4;
  font-weight: 600;
}

.aboutfaq-title {
  font-size: 34px;
  font-weight: 700;
}

.aboutfaq-title span {
  color: #2a6df4;
}

/* LIST */

.aboutfaq-list {
  max-width: 900px;
  margin: auto;
}

.aboutfaq-item {
  border-bottom: 1px solid #e5e7eb;
  padding: 18px 0;
}

/* QUESTION ROW */

.aboutfaq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  font-family: var(--default-font);
}

.aboutfaq-qleft {
  display: flex;
  align-items: center;
  gap: 12px;
}

.aboutfaq-qicon {
  color: var(--accent-color);
  font-size: 30px;
}

/* ANSWER */

.aboutfaq-answer {
  margin-top: 10px;
  padding-left: 32px;
  color: #555;
  line-height: 1.7;
  font-family: var(--default-font);
  font-size: 16px;
}

/* TOGGLE */

.aboutfaq-toggle {
  font-size: 22px;
  color: #2a6df4;
}

/* why solar */

.whysolar-wrapper {
  padding: 80px 0;
  background: #eff1ed;
  margin-bottom: 100px;
}

.whysolar-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.whysolar-card {
  background: #ffffff;
  padding: 40px;
  border-radius: 18px;
  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.05);
}

.whysolar-card h2 {
  /* font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #1c2b4a; */
  position: relative;
  padding-bottom: 20px;
}

.whysolar-card h2::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #e5e7eb;
}

.whysolar-card .solar {
  color: var(--accent-color);
}
span.save {
  font-size: 18px;
  font-family: var(--default-font);
  font-weight: 500;
  color: var(--primary-color);
}

.highlight-blue {
  color: var(--primary-color) !important;
}

.whysolar-card p {
  color: var(--primary-color1);
  line-height: 1.8;
  margin-bottom: 18px;
  font-size: 16px;
}

/* Mobile responsive */

@media (max-width: 768px) {
  .whysolar-grid {
    grid-template-columns: 1fr;
  }
}

.about-pr img {
  width: 100% !important;
}
